@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
}

body {
    background-color: #202020;
}

/* Имя */
h1 {
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
    color: #fff;
    margin-bottom: 10px;
}

/* Род деятельности */
h2 {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
    color: #c5c5c5
}

/* Основные заголовки */
h3 {
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    color: #fff;
    margin-bottom: 20px;
}

/* Зеленые скилы */
h4 {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #202020;
    
}

/* Черные скилы */
h5 {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #21A049;
    
}

/* Основной текст */
h6 {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #c5c5c5;
    margin-bottom: 5px;
    
}
a {
    color: #21A049;
}

.page-content {
    display: flex;
    margin-top: 80px;
    margin-right: 300px;
    margin-left: 300px;

}

/* Общая адаптивка */
@media (max-width:1680px) {
    .page-content{
        margin-right: 200px;
        margin-left: 200px;
    }
}
@media (max-width:1470px) {
    .page-content{
        margin-right: 100px;
        margin-left: 100px;
    }
}
@media (max-width:1130px) {
    .page-content{
        flex-direction: column;
        align-items: center;
    }

}
@media (max-width:900px) {
    .page-content{
        margin-right: 30px;
        margin-left: 30px;
    }

    .conteiner-info {
        
        margin-left: 0px !important;
    }

}


.avatar {
    border-radius: 15px;
    max-width: 258px;
    max-height: 330px;
    margin-bottom: 50px;
}

.conteiner-info {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
}


.conteiner-name {
    margin-bottom: 50px;
    padding-left: 30px;
    border-left: 10px #21A049 solid;
    border-radius: 5px;
}

.conteiner-skills {
    /* border: 1px solid #fff ; */
    
    margin-bottom: 50px;
    padding-left: 30px;
    border-left: 10px #21A049 solid;
    border-radius: 5px;
}

.skill-block-green {
    background-color: #21A049;
    border-radius: 16px;
    padding: 5px 15px;
    display:inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}

.skill-block-black {
    background-color: #202020;
    border: 1px solid #21A049;
    border-radius: 16px;
    padding: 5px 15px;
    display:inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}

#Design-Skills {
    margin-top: 20px;
    
}

.conteiner-contacts {
    /* border: 1px solid #fff ; */

    margin-bottom: 50px;

}

.conteiner-education {
    /* border: 1px solid #fff ; */

    margin-bottom: 50px;

}

.conteiner-education-text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.misis-logo {
    align-self: flex-start;
    margin-right: 30px;
    margin-bottom: 20px;
}

.conteiner-about-me {
    line-height: 25px;
    margin-bottom: 50px;
}
